.content {
  button {
    position: relative;
    svg {
      position: absolute;
      left: 10px;
      width: 24px;
      height: 24px;
    }
  }
}

.title {
  margin-bottom: 15px !important;
  font-size: 18px;
  font-weight: 500 !important;
  color: black !important;
}
